.header {
    background-color: #1F2937;
}

.header.top {
    display: flex;
}

.header.logo {
    font-size: 24px;
    color: #F9FAF8;
}

h1 {

    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
}

p, li {
    font-size: 18px;
    color: #E5E7EB;

}

ul {
    list-style: none;
    display: flex;
}

.header img {
    height: 300px;
    width: auto;
}

.header.bottom {
    display: flex;
}