.header {
    background-color: #1F2937;
    margin: 0% 12.5%;

}

.header.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.header.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
    align-self: center;
}

h1 {

    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
}

p, li {
    font-size: 18px;
    color: #E5E7EB;

}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-right: 10px;
}

.header img {
    align-self: center;
    height: 250px;
    width: fit-content;
    margin-bottom: 80px;
    border: none;
}

.header.bottom {
    display: flex;
    gap: 40px;
}

.content {
    flex: 1 1 200px;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 120px;
    font-weight: bolder;
    font-size: 16px;
    color: #F9FAF8;
}

.info {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    align-self: center;
}

.pictures {
    display: flex;
    justify-content: center;
    flex-basis: 100%;

}

img {

    border: 5px solid #3882F6;
    border-radius: 10px;
    height: 175px;
    width: fit-content;

}

figure {
    display: table;

}

figcaption {

    display: table-caption;
    caption-side: bottom;
    width: 100%;

}

